{% extends 'base.html.twig' %}

{% block body %}
{% block navbar %}
<div class="navbar">
   <div class="navbar-left">
      <a href="{{ path('app_les_produits') }}" class="textNav">Nos produits</a>
      <a href="{{ path('app_actualite') }}" class="textNav">Nos actualités</a>
   </div>
   <div class="navbar-middle">
      <a href="{{ path('app_acceuil') }}"><img src="/images/logo.jpg"></img></a>
   </div>
   <div class="navbar-right">
      <a href="" class="textNav">Contactez nous</a>
      <a href="{{ is_granted('ROLE_USER') ? path('app_logout') : path('app_login') }}" class="boutonNav">
      {{ is_granted('ROLE_USER') ? 'Logout' : 'Login' }}
      </a>
      {% if is_granted('ROLE_USER') %}
      <a href="/commandes/voirpanier" class="iconPanier">
      <i class="fa fa-shopping-cart" style="color: white; font-size: 24px;"></i>
      </a>
      <a href="/commandes/profil" class="iconProfil">
      <i class="fa fa-user-circle" style="color: white; font-size: 24px;"></i>
      </a>
      {% endif %}
   </div>
   <!-- Barre de recherche à droite de la page -->
   <div class="search-bar-container">
      <form class="form-inline" action="/lesProduits/rechercher" method="GET">
         <input class="form-control" type="search" placeholder="Rechercher" aria-label="Rechercher" name="query">
         <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
   </div>
</div>
{% endblock %}

    <div id="app"></div> <!-- Assurez-vous que c'est le point de montage de Vue.js -->

{% block footer %}
    {{ parent() }}
{% endblock %}

{% endblock %}
